	<div class="container" style="padding: 20px 30px 20px 30px;margin-top:20px;opacity: 1.0;background:white;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);">
		<div class="jumbotron masthead" style="padding-top:20px">
			<h1>TuberTV<small>(beta)</small></h1>
			<p>Customize your YouTube playlist.</p>
		</div>
			
			
			<%= form_tag({:controller => "static", :action => "popular"}, :method => "get", :class => "form-horizontal") do %>
			<div class="control-group">
				<%= label_tag 'News','news',:class=> "control-label"%>
		    <div class="controls">
					<div id="News" class="switch">
						<script>
							$('#News').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'News' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Sports','sports', :class=> "control-label"%>
		    <div class="controls">
					<div id="Sports" class="switch" >
						<script>
							$('#Sports').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Sports' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Autos','auto', :class=> "control-label"%>
		    <div class="controls">
					<div id="Autos" class="switch" >
						<script>
							$('#Autos').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Autos' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Music','music', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Music" >
						<script>
							$('#Music').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Music' %>
					</div>
		    </div>		    
			</div>
			<div class="control-group">
				<%= label_tag 'Animals','animals',:class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Animals" >
						<script>
							$('#Animals').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Animals' %>
					</div>
		    </div>		    
			</div>

			<div class="control-group">
				<%= label_tag 'Travel','travel', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Travel" >
						<script>
							$('#Travel').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Travel' %>
					</div>
			    </div>		    
			</div>
			<div class="control-group">
				<%= label_tag 'Comedy','comedy', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Comedy" >
						<script>
							$('#Comedy').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Comedy' %>
					</div>
			    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Entertainment','entertainment', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Entertainment" >
						<script>
							$('#Entertainment').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Entertainment' %>
					</div>
			    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Howto','howto', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Howto" >
						<script>
							$('#Howto').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Howto' %>
					</div>		    
				</div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Education','education', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Education" >
						<script>
							$('#Education').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Education' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Tech','tech', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Tech" >
						<script>
							$('#Tech').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Tech' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Film','film',:class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Film" >
						<script>
							$('#Film').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Film' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Games','games', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Games" >
						<script>
							$('#Games').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Games' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'People','people', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="People" >
						<script>
							$('#People').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'People' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Nonprofit', 'nonprofit', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Nonprofit" >
						<script>
							$('#Nonprofit').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Nonprofit' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'Movies', 'movies', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="Movies" >
						<script>
							$('#Movies').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'Movies' %>
					</div>		    </div>
		  </div>
				<%= submit_tag 'next', :class=>"btn btn-large btn-primary pull-right"%>
			<% end %>
	</div>
	
	<div class="container" style="padding:20px;">
		<p class="pull-right">Rhut Vasavada &copy; 2013 </p>
	</div>