	<div class="container" style="padding: 20px 30px 20px 30px;margin-top:20px;opacity: 1.0;background:white;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);">
		<div class="jumbotron masthead" style="padding-top:20px">
			<h1>TuberTV<small>(beta)</small></h1>
			<p>Customize your YouTube playlist.</p>
		</div>
			
			
			<%= form_tag({:controller => "static", :action => "popular"}, :method => "get", :class => "form-horizontal") do %>
			<div class="control-group">
				<%= label_tag 'news','news',:class=> "control-label"%>
		    <div class="controls">
					<div id="news" class="switch">
						<script>
							$('#news').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'news' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'sports','sports', :class=> "control-label"%>
		    <div class="controls">
					<div id="sports" class="switch" >
						<script>
							$('#sports').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'sports' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'auto','auto', :class=> "control-label"%>
		    <div class="controls">
					<div id="auto" class="switch" >
						<script>
							$('#auto').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'auto' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'music','music', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="music" >
						<script>
							$('#music').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'music' %>
					</div>
		    </div>		    
			</div>
			<div class="control-group">
				<%= label_tag 'animals','animals',:class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="animals" >
						<script>
							$('#animals').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'animals' %>
					</div>
		    </div>		    
			</div>

			<div class="control-group">
				<%= label_tag 'travel','travel', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="travel" >
						<script>
							$('#travel').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'travel' %>
					</div>
			    </div>		    
			</div>
			<div class="control-group">
				<%= label_tag 'comedy','comedy', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="comedy" >
						<script>
							$('#comedy').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'comedy' %>
					</div>
			    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'entertainment','entertainment', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="entertainment" >
						<script>
							$('#entertainment').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'entertainment' %>
					</div>
			    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'howto','howto', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="howto" >
						<script>
							$('#howto').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'howto' %>
					</div>		    
				</div>
		  </div>
			<div class="control-group">
				<%= label_tag 'education','education', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="education" >
						<script>
							$('#education').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'education' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'tech','tech', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="tech" >
						<script>
							$('#tech').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'tech' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'film','film',:class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="film" >
						<script>
							$('#film').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'film' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'games','games', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="games" >
						<script>
							$('#games').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'games' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'videoblog','videoblog', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="videoblog" >
						<script>
							$('#videoblog').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'videoblog' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'people','people', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="people" >
						<script>
							$('#people').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'people' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'nonprofit', 'nonprofit', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="nonprofit" >
						<script>
							$('#nonprofit').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'nonprofit' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies', 'movies', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies" >
						<script>
							$('#movies').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'shortmov', 'shortmov', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="shortmov" >
						<script>
							$('#shortmov').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'shortmov' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_anime_animation','movies - anime & animation', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_anime_animation" >
						<script>
							$('#movies_anime_animation').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_anime_animation' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_action_adventure', 'movies - action & adventure', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_action_adventure" >
						<script>
							$('#movies_action_adventure').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_action_adventure' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_classics','movies - classics', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_classics" >
						<script>
							$('#movies_classics').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_classics' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_comedy','movies - comedy', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_comedy" >
						<script>
							$('#movies_comedy').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_comedy' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_documentary','movies - documentary', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_documentary" >
						<script>
							$('#movies_documentary').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_documentary' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_drama','movies - drama', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_drama" >
						<script>
							$('#movies_drama').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_drama' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_family','movies - family', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_family" >
						<script>
							$('#movies_family').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_family' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_foreign','movies - foreign', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_foreign" >
						<script>
							$('#movies_foreign').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_foreign' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_sci_fi_fantasy','movies - horror', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_sci_fi_fantasy" >
						<script>
							$('#movies_sci_fi_fantasy').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_sci_fi_fantasy' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
 				<%= label_tag 'movies_thriller','movies - thriller', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_thriller" >
						<script>
							$('#movies_thriller').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_thriller' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_shorts','movies - shorts', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_shorts" >
						<script>
							$('#movies_shorts').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_shorts' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_shows','movies - shows', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="movies_shows" >
						<script>
							$('#movies_shows').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'movies_shows' %>
					</div>		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'trailers','trailers', :class=> "control-label"%>
		    <div class="controls">
					<div class="switch" id="trailers" >
						<script>
							$('#trailers').on('switch-change', function (e, data) {
							    var $el = $(data.el)
							      , value = data.value;
							    console.log(e, $el, value);
							});
						</script>
						<%= check_box_tag 'trailers' %>
					</div>		    </div>
		  </div>
				<%= submit_tag 'next', :class=>"btn"%>
			<% end %>
	</div>