	<div class="container" style="padding: 20px 30px 20px 30px;margin-top:20px;opacity: 1.0;background:white;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);">
		<div class="jumbotron masthead" style="padding-top:20px">
			<h1>TuberTV<small>(beta)</small></h1>
			<p>Add to your channel.  All are based on the US.</p>
			
			<%= form_tag :action => "popular", :method => :get, :class=>"form-horizontal" do %>
			<div class="control-group">
				<%= label_tag 'news','news',:class=> "control-group"%>
		    <div class="controls">
					<div class="switch" data-on-label="<i class='icon-ok icon-white'></i>" data-off-label="<i class='icon-remove'></i>">
						<%= checkbox_tag 'news' %>
					</div>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'sports','sports', :class=> "control-group"%>
		    <div class="controls">
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'auto','auto', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'auto', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'music','music', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'music', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'animals','animals',:class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'animals', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'travel','travel', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'travel', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'comedy','comedy', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'comedy', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'entertainment','entertainment', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'entertainment', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'howto','howto', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'howto', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'education','education', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'education', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'tech','tech', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'tech', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'film','film',:class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'film', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'games','games', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'games', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'videoblog','videoblog', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'videoblog', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'people','people', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'people', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'nonprofit', 'nonprofit', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'nonprofit', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies', 'movies', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'shortmov', 'shortmov', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'shortmov', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_anime_animation','movies - anime & animation', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_anime_animation', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_action_adventure', 'movies - action & adventure', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_action_adventure', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_classics','movies - classics', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_classics', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_comedy','movies - comedy', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_comedy', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_documentary','movies - documentary', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_documentary', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_drama','movies - drama', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_drama', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_family','movies - family', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_family', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_foreign','movies - foreign', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_foreign', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_sci_fi_fantasy','movies - horror', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_sci_fi_fantasy', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
 				<%= label_tag 'movies_thriller','movies - thriller', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_thriller', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_shorts','movies - shorts', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_shorts', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'movies_shows','movies - shows', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'movies_shows', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
			<div class="control-group">
				<%= label_tag 'trailers','trailers', :class=> "control-group"%>
		    <div class="controls">
					<%= range_field_tag 'trailers', 0, :in => 0...1, :step => 1 %>
		    </div>
		  </div>
				<%= submit_tag 'next', :class=>"btn"%>
			<% end %>
		</div>
	</div>