	<div class="container" style="padding: 20px 30px 20px 30px;margin-top:20px;opacity: 1.0;background:white;-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);border-radius: 4px;-webkit-border-radius: 4px;box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 5px rgba(0, 0, 0, 0.2);">
		<div class="jumbotron masthead" style="padding-top:20px">
			<h1>TuberTV<small>(beta)</small></h1>
			<p>Pick a channel.  All are based on the US and try not to include vlogs or gaming.  Updates will be frequent!</p>
			
			<%= form_tag '#', :class => "navbar-search pull-left" do %>
				<%= label_tag 'news'%>
				<%= range_field_tag 'news', nil, :in => 1...200 %>
				<%= label_tag 'sports'%>
				<%= range_field_tag 'sports', nil, :in => 1...200 %>
				<%= label_tag 'auto'%>
				<%= range_field_tag 'auto', nil, :in => 1...200 %>
				<%= label_tag 'music'%>
				<%= range_field_tag 'music', nil, :in => 1...200 %>
				<%= label_tag 'animals'%>
				<%= range_field_tag 'animals', nil, :in => 1...200 %>
				<%= label_tag 'travel'%>
				<%= range_field_tag 'travel', nil, :in => 1...200 %>
				<%= label_tag 'comedy'%>
				<%= range_field_tag 'comedy', nil, :in => 1...200 %>
				<%= label_tag 'entertainment'%>
				<%= range_field_tag 'entertainment', nil, :in => 1...200 %>
				<%= label_tag 'howto'%>
				<%= range_field_tag 'howto', nil, :in => 1...200 %>
				<%= label_tag 'education'%>
				<%= range_field_tag 'education', nil, :in => 1...200 %>
				<%= label_tag 'tech'%>
				<%= range_field_tag 'tech', nil, :in => 1...200 %>
				<%= submit_tag 'next'%>
			<% end %>
		</div>
	</div>