<!DOCTYPE html>
<html lang="en">
<head>
  <title>TuberTV</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <style type="text/css">
    #videoDiv { 
      margin-right: 3px;
    }
    #videoInfo {
      margin-left: 3px;
    }
  </style>
  <script src="http://www.google.com/jsapi" type="text/javascript"></script>
  <script type="text/javascript">
    google.load("swfobject", "2.1");
  </script>    
  <script type="text/javascript">
    /*
     * Change out the video that is playing
     */
    
    // This function is called when an error is thrown by the player
    function onPlayerError(errorCode) {
      alert("An error occured of type:" + errorCode);
    }
    
    // This function is automatically called by the player once it loads
    function onYouTubePlayerReady(playerId) {
      ytplayer = document.getElementById("ytPlayer");
      ytplayer.addEventListener("onError", "onPlayerError");
			ytplayer.addEventListener("onStateChange", "onytplayerStateChange");
    }

		function onytplayerStateChange(newState) {
			if(newState == 0) {
        if(ytplayer) {
					
					//var currentVideoID = ytplayer.getVideoUrl().match(/v=([0-9a-zA-Z]+)/);
					$.getJSON("/static/next_video.json?video_url="+ytplayer.getVideoUrl(), function(json) {
					   ytplayer.loadVideoById(json.unique_id);
					});
        }
			}
		}
    
    // The "main method" of this sample. Called when someone clicks "Run".
    function loadPlayer() {
      // The video to load

      var videoID = "<%= @first_vid %>"
      // Lets Flash from another domain call JavaScript
      var params = { allowScriptAccess: "always", 
										 allowFullScreen: "true"
										};
      // The element id of the Flash embed
      var atts = { id: "ytPlayer" };
      // All of the magic handled by SWFObject (http://code.google.com/p/swfobject/)
      swfobject.embedSWF("http://www.youtube.com/v/" + videoID + 
                         "?version=3&enablejsapi=1&playerapiid=player1&autoplay=1&autohide=1&cc_load_policy=1&iv_load_policy=3&rel=0&playlist=<%= @playlist %>", 
                         "videoDiv", "100%", "100%", "9", null, null, params, atts);

    }

    function _run() {
      loadPlayer();
    }
    google.setOnLoadCallback(_run);
  </script>
  <%= analytics_init if Rails.env.production? %>

</head>
<body style="background:white; background-image:url(http://s.ytimg.com/yt/img/refresh/body_noise-vflp89Uii.png);height: 100%;
" >
	 <!-- <% flash.each do |name, msg| %>
			<div class="alert alert-success">
		    	<button type="button" class="close" data-dismiss="alert">x</button>
				<%= content_tag :div, msg, id: "flash_#{name}" %>
			</div>
	  
		<% end %>
  -->
<!-- TODO: from devise, need to figure out how to remove
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
-->
		<%= yield %>

		<div class="navbar navbar-static-bottom">
		  <div class="navbar-inner">
				<div class="container">
					<%= link_to "TuberTV", root_url, :class => "brand"%>

					<ul class="nav">
							<li class=<%= "active" if params[:action] == "trending" && params[:controller] == "static" %>><a href="/trending">Trending</a></li>
		        	<li class=<%= "active" if params[:action] == "popular" && params[:controller] == "static" %>><a href="/popular">Popular</a></li>
		        	<li class=<%= "active" if params[:action] == "top" && params[:controller] == "static" %>><a href="/top_rated">Top Rated</a></li>
		        <!--
							<%= form_tag '#', :class => "navbar-search pull-left" do %>
								<%= search_field_tag "query", nil, {:class =>"search-query span3", :placeholder => "Search for jobs",data: {autocomplete_source: '/autocomplete_search' }}%>
							<% end %>
						-->
					</ul>


					<ul class="nav pull-right">
						<% if user_signed_in? %>
							<li class="dropdown">
						    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
					          <%= current_user.email%>
						          <b class="caret"></b>
						    </a>
						    <ul class="dropdown-menu">
					        <li><%= link_to "Watch History", "#" %></li>
					        <li><%= link_to "Account Settings", edit_user_registration_path %></li>
					        <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete  %></li>
						    </ul>
						  </li>

			      <% else %>
		        	<!--
							<li><%= link_to "Sign up", new_user_registration_path %></li>				  	
							<li class="divider-vertical"></li>
			        <%= link_to "Sign in", new_user_session_path, :class => "btn btn-primary"%>
							-->
			      <% end %>
					</ul>
				</div>
		  </div>
		</div>


</body>
</html>